/*==============共通部分===============*/

/*@font-face {
  font-family: 'yomogifont';
  src: url('/yomogifont.otf');
}*/

p, td, tr, .nav-hiragana, .h2-japanese, li {
  font-family: "ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN", 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

body, html {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p, body, li {
  line-height: 1.77;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FAD7E0;
}

.top-bar {
  height: 5px;
  background-color: #FF9FC7;
}

.container-fluid {
  padding: 0px;
}

.box-padding {
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 768px){
  .box-padding {
  padding-left: 0px;
  padding-right: 0px;
  }
}


@media screen and (max-width: 768px){
  .col-sm-1 {
  min-height: 0px;
  }
}

.col-sm-4, .col-sm-6 {
  padding: 0px;
}

.box-border {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/*===============title===============*/


.top-head {
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

@media screen and (max-width: 768px){
  .top-head {
    height: 150px;
    margin-bottom: 0px;
    box-shadow: none;
    border-bottom: solid 2px #DDDDDD;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.logo {
  margin-top: 10px;
  width: 240px;
  height: 80px;
  margin-left: 30px;
}

@media screen and (max-width: 768px){
  .logo {
    height: 70px;
    width: 210px;
    margin-top: 10px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 768px){
  .title {
  text-align: center;
  }
}


/*================navigation===============*/


.navs {
  padding-top: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 768px){
  .navs {
    padding-top: 10px;
  }
}

a:hover {
  text-decoration: none;
  color: #FF9FC7;
}

.nav {
  padding: 0px;
  border-right: dotted 2px #DDDDDD;
  line-height: 30%;
  display: block;
}

.first-nav {
  border-left: dotted 2px #DDDDDD;
}

.nav-eigo {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 768px){
  .nav-eigo {
    font-size: 14px;
  }
}

.nav-hiragana {
  font-size: 10px;
  color: #777777;
}

.top {
  color: #FFCCA1;
}

.profile {
  color: #A4E7FF;
}

.video {
  color: #A4BAFF;
}

.contact {
  color: #9CE7C5;
}


/*===============footer===============*/

.sns {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px){
  .sns {
    margin-top: 10px;
  }
}

.sns-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.grow {
  -webkit-transition:0.2s ease-in-out;
  -moz-transition:0.2s ease-in-out;
  -ms-transition:0.2s ease-in-out;
  -o-transition:0.2s ease-in-out;
  transition:0.2s ease-in-out;
}

.grow:hover {
  -webkit-transform:scale(1.2,1.2);
  -moz-transform:scale(1.2,1.2);
  -ms-transform:scale(1.2,1.2);
  -o-transform:scale(1.2,1.2);
  transform:scale(1.2,1.2);
}

footer {
  background-color: #FF9FC7;
  color: #FBFBF9;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px){
  footer {
    font-size: 12px;
    margin-top: 0px;
  }
}


/*===============picture===============*/


.main-picture {
  width: 100%;
  border: solid 3px white;
}

@media screen and (max-width: 768px){
  .main-picture {
    border: none;
  }
}


/*===============News===============*/


h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: #FF9FC7;
  border-bottom: dashed 2px #FF9FC7;
  margin-bottom: 0px;
  margin-top: 5px;
}

.h2-japanese {
  font-size: 12px;
  color: #777777;
}

.news {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  background-color: white;
  margin-bottom: 5px;
  border-top: 5px solid #FF9FC7;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 768px){
  .news {
    margin: -13px 5px 5px 5px;
  }
}

td {
  color: #777777;
  font-size: 14px;
}

@media screen and (max-width: 768px){
  td {
    font-size: 14px;
  }
}

.hizuke {
  color: white;
  background-color: #FF9FC7;
}

.table>tbody>tr>td {
  border-top: none;
  border-bottom: dashed 1px #FF9FC7;
  padding: 8px 0px 8px 0px;
}


/*===============youtube===============*/


.youtube {
  background-color: white;
}

@media screen and (max-width: 768px){
  .youtube {
    margin: 10px;
  }
}

.movie-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}


/*===============schedule===============*/


h3 {
  font-family: 'Nunito', sans-serif;
  border-bottom: dashed 2px #A4BAFF;
  margin-left: 10px;
  margin-right: 10px;
  color: #A4BAFF;
  font-size: 24px;
  margin-top: 5px;
}

.cal_wrapper {
  max-width: 800px; /* 最大幅 */
  min-width: 150px; /* 最小幅 */
  margin: 2.0833% auto;
  margin-top: 5px;
  background-color: white;
  border-top: solid 5px #A4BAFF;
}

@media screen and (max-width: 768px){
  .cal_wrapper {
    margin: 5px;
  }
}

.googlecal {
  position: relative;
  padding-bottom: 100%; /* 縦横比 */
  height: 0;
  overflow: hidden;
  margin-top: 10px;
}

.googlecal iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media only screen and (min-width: 768px) {
  /* 画面幅が768px以上の場合の縦横比の指定 */
  .googlecal {
    padding-bottom: 75%;
  }
}


/*===============twitter===============*/

h4 {
  color: #A4E7FF;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  margin: 5px 10px 0px 10px;
  border-bottom: dashed 2px #A4E7FF;
}

.twitter {
  margin-top: 5px;
  background-color: white;
  border-top: solid 5px #A4E7FF;
}

@media screen and (max-width: 768px){
  .twitter {
    margin: 5px 5px 10px 5px;
  }





/*左右の矢印の色を変える*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
/*左右の矢印の位置を変える*/
.slick-next {
    right: -100px;
    z-index: 99;
}
.slick-prev {
  left: 15px;
    z-index: 100;
}
/*スライド数のドットの色を変える*/
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
}
/*スライド画像の横幅可変*/
img {
  max-width: 100%;
  height: auto;
}
/*.slider, .center-item, .slick-initialized, .slick-slider {
  margin-left: -40px !important;
}*/

.slider {
  width: 100%;
}